# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/

.coverage
.coverage.*
.pytest_cache/
cover/

# Django stuff:
*.log
*.sqlite3
*.sqlite

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
